In [113]:
import pandas as pd

## Las preguntas que queremos responder son:
    _Quienes tienen peor calidad de sueño, hombres o mujeres?
    _Existe una relacion entre la calidad de sueño de las personas y su profesión?
    _La actividad fisica afecta el sueño?
    _Que profesión presenta la peor calidad de sueño?
    _Cual profesión tiene a las personas con el mayor nivel de estres y el mayor indice de masa corporal?

In [114]:
df = pd.read_csv("Sleep_health_and_lifestyle_dataset.csv", index_col= "Person ID")
df

,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder
Person ID,,,,,,,,,,,,
1,Male,27,Software Engineer,6.1,6,42,6,Overweight,126/83,77,4200,NaN
2,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN
3,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN
4,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea
5,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea
...,...,...,...,...,...,...,...,...,...,...,...,...
370,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea
371,Female,59,Nurse,8.0,9,75,3,Overweight,140/95,68,7000,Sleep Apnea
372,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea
373,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea
374,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea

In [115]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 374 entries, 1 to 374
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Gender                   374 non-null    object
 1   Age                      374 non-null    int64
 2   Occupation               374 non-null    object
 3   Sleep Duration           374 non-null    float64
 4   Quality of Sleep         374 non-null    int64
 5   Physical Activity Level  374 non-null    int64
 6   Stress Level             374 non-null    int64
 7   BMI Category             374 non-null    object
 8   Blood Pressure           374 non-null    object
 9   Heart Rate               374 non-null    int64
 10  Daily Steps              374 non-null    int64
 11  Sleep Disorder           155 non-null    object
dtypes: float64(1), int64(6), object(5)
memory usage: 38.0+ KB

In [116]:
df.describe()

,Age,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,Heart Rate,Daily Steps
count,374.000000,374.000000,374.000000,374.000000,374.000000,374.000000,374.000000
mean,42.184492,7.132086,7.312834,59.171123,5.385027,70.165775,6816.844920
std,8.673133,0.795657,1.196956,20.830804,1.774526,4.135676,1617.915679
min,27.000000,5.800000,4.000000,30.000000,3.000000,65.000000,3000.000000
25%,35.250000,6.400000,6.000000,45.000000,4.000000,68.000000,5600.000000
50%,43.000000,7.200000,7.000000,60.000000,5.000000,70.000000,7000.000000
75%,50.000000,7.800000,8.000000,75.000000,7.000000,72.000000,8000.000000
max,59.000000,8.500000,9.000000,90.000000,8.000000,86.000000,10000.000000

In [117]:
df["Gender"].value_counts()

Gender
Male      189
Female    185
Name: count, dtype: int64

In [118]:
#promedio de las edades
df["Age"].mean()

np.float64(42.18449197860963)

In [119]:
df["Age"].std()

np.float64(8.673133465547243)

In [120]:
def agrupador(Age):
    return "Adult" if Age <=40 else "Older Adult"

df["Age_group"]= df["Age"].apply(agrupador)
df

,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder,Age_group
Person ID,,,,,,,,,,,,,
1,Male,27,Software Engineer,6.1,6,42,6,Overweight,126/83,77,4200,NaN,Adult
2,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN,Adult
3,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN,Adult
4,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea,Adult
5,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea,Adult
...,...,...,...,...,...,...,...,...,...,...,...,...,...
370,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea,Older Adult
371,Female,59,Nurse,8.0,9,75,3,Overweight,140/95,68,7000,Sleep Apnea,Older Adult
372,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea,Older Adult
373,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea,Older Adult
374,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea,Older Adult

In [121]:
df["Age_group"].value_counts()

Age_group
Older Adult    209
Adult          165
Name: count, dtype: int64

In [122]:
df.groupby("Gender")["Age"].agg(["mean","std"])

             mean       std
Gender
Female  47.405405  8.093407
Male    37.074074  5.662006

In [123]:
df.groupby("Occupation")["Gender"].value_counts()

Occupation            Gender
Accountant            Female    36
                      Male       1
Doctor                Male      69
                      Female     2
Engineer              Female    32
                      Male      31
Lawyer                Male      45
                      Female     2
Manager               Female     1
Nurse                 Female    73
Sales Representative  Male       2
Salesperson           Male      32
Scientist             Female     4
Software Engineer     Male       4
Teacher               Female    35
                      Male       5
Name: count, dtype: int64

In [124]:
print(df["Sleep Duration"].min(),df["Sleep Duration"].max())

5.8 8.5

In [125]:
# Calidad y duracion del sueño de los generos
df.groupby("Gender")[["Sleep Duration","Quality of Sleep"]].mean()

        Sleep Duration  Quality of Sleep
Gender
Female        7.229730          7.664865
Male          7.036508          6.968254

Aca podemos ver que las mujeres tienen mayor duración de sueño y tambien calidad de sueño, segun nuestros datos

In [126]:
# Nivel de estres, Calidad y duracion del sueño de las distintas ocupaciones 
df.groupby("Occupation")[["Stress Level","Sleep Duration", "Quality of Sleep"]].mean().sort_values(by="Quality of Sleep")

                      Stress Level  Sleep Duration  Quality of Sleep
Occupation
Sales Representative      8.000000        5.900000          4.000000
Scientist                 7.000000        6.000000          5.000000
Salesperson               7.000000        6.403125          6.000000
Software Engineer         6.000000        6.750000          6.500000
Doctor                    6.732394        6.970423          6.647887
Teacher                   4.525000        6.690000          6.975000
Manager                   5.000000        6.900000          7.000000
Nurse                     5.547945        7.063014          7.369863
Accountant                4.594595        7.113514          7.891892
Lawyer                    5.063830        7.410638          7.893617
Engineer                  3.888889        7.987302          8.412698

 Podemos observar las distintas profesiones y su promedio en la duración y calidad del sueño, esto tiene un relación con el nivel de estres en cada profesión

In [127]:
# agrupamos duración y calidad del sueño en base a la actividad fisica
df.groupby("Physical Activity Level")[["Sleep Duration","Quality of Sleep"]].mean()

                         Sleep Duration  Quality of Sleep
Physical Activity Level
30                             7.185294          7.352941
32                             5.800000          4.000000
35                             6.500000          5.000000
40                             6.533333          5.833333
42                             6.100000          6.000000
45                             6.532353          6.529412
47                             6.900000          6.000000
50                             6.625000          6.750000
55                             7.100000          7.333333
60                             7.191429          7.914286
65                             7.300000          7.000000
70                             7.633333          8.000000
75                             7.913433          8.014925
80                             8.000000          9.000000
85                             8.100000          9.000000
90                             6.959701          7.074627

En esta observación podemos concluir que no hay una relación considerable entre la actividad fisica y la calidad de sueño

In [128]:
df["BMI Category"].value_counts()

BMI Category
Normal           195
Overweight       148
Normal Weight     21
Obese             10
Name: count, dtype: int64

In [129]:
df.dtypes["BMI Category"]

dtype('O')

In [130]:
#convierto a la columna en typo string
df["BMI Category"] = df["BMI Category"].astype("string")

In [131]:
#Nos aseguramos que los valores esten en minuscula y no haya espacios
df["BMI Category"] = df["BMI Category"].str.strip().str.lower()

In [132]:
#Realizamos un map para asignar los valores correspondientes a la nueva columna
bmi_map={
    "normal": 1,
    "normal weight": 2,
    "overweight": 3,
    "obese": 4
}
df["BMI_numeric"]=df["BMI Category"].map(bmi_map)
df

,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder,Age_group,BMI_numeric
Person ID,,,,,,,,,,,,,,
1,Male,27,Software Engineer,6.1,6,42,6,overweight,126/83,77,4200,NaN,Adult,3
2,Male,28,Doctor,6.2,6,60,8,normal,125/80,75,10000,NaN,Adult,1
3,Male,28,Doctor,6.2,6,60,8,normal,125/80,75,10000,NaN,Adult,1
4,Male,28,Sales Representative,5.9,4,30,8,obese,140/90,85,3000,Sleep Apnea,Adult,4
5,Male,28,Sales Representative,5.9,4,30,8,obese,140/90,85,3000,Sleep Apnea,Adult,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
370,Female,59,Nurse,8.1,9,75,3,overweight,140/95,68,7000,Sleep Apnea,Older Adult,3
371,Female,59,Nurse,8.0,9,75,3,overweight,140/95,68,7000,Sleep Apnea,Older Adult,3
372,Female,59,Nurse,8.1,9,75,3,overweight,140/95,68,7000,Sleep Apnea,Older Adult,3
373,Female,59,Nurse,8.1,9,75,3,overweight,140/95,68,7000,Sleep Apnea,Older Adult,3
374,Female,59,Nurse,8.1,9,75,3,overweight,140/95,68,7000,Sleep Apnea,Older Adult,3

In [138]:
#Agrupamos por profesion y calculamos el promedio
df.groupby("Occupation")["BMI_numeric"].mean().sort_values()

Occupation
Engineer                1.158730
Doctor                  1.197183
Lawyer                  1.234043
Accountant              1.459459
Teacher                 2.725000
Software Engineer       2.750000
Nurse                   2.904110
Manager                 3.000000
Scientist               3.000000
Salesperson             3.000000
Sales Representative    4.000000
Name: BMI_numeric, dtype: float64

Aca podes ver que la profesion con el mayor indice de masa corporal es "Sales Representative"